body {
    margin: 60px auto;
    width: 70%;
    color: white;
    background-color: black;
}
nav ul, footer ul {
    font-family: monospace;
    font-size: 1em;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-decoration: lowercase;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: green;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family: monospace;
}
h2 {
    font-size: 2em;
    font-family: monospace;
p {
    font-family: monospace;
    font-size: 1.5em;
    line-height: 1.4em;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1em;
}

ul.posts { 
    margin: 20px auto 40px;
    font-family: monospace; 
    font-size: 1.5em;
}

ul.posts li {
    font-family: monospace;
    list-style: none;
}

